@import "reset.css";

.wrapper {
  height: 100vh;
  width: 100%;
}

.wrapper__text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: bisque;
  font-size: 30px;
  font-weight: 600;
}

.wrapper__keycode {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

.keycode__bigcode {
  font-size: 200px;
  font-weight: 600;
}

.wrapper__all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper__name,
.wrapper__which,
.wrapper__ecode {
  width: 23%;
  height: 100px;
  border: 2px solid black;
  margin-left: 60px;
  margin-top: 40px;
}

.keycode__ename,
.keycode__ewhich,
.keycode__ecode {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rebeccapurple;
  height: 50%;
  font-size: 30px;
}

.keycode__name,
.keycode__which,
.keycode__eventCode {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  font-size: 30px;
}
