@import "reset.css";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vh;
}

.wrapper__cal {
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 2px solid #0f0f0f;
  width: 300px;
  height: 500px;
  top: 50%;
  left: 50%;
}

.input {
  width: 250px;
  height: 40px;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.result {
  font: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.button {
  width: 50px;
  height: 50px;
  margin: 10px;
  font-size: 20px;
}

.clear {
  width: 260px;
  font-size: 20px;
  margin-top: 20px;
}
